header {
	margin-bottom: 60px;
}

.nav-wrapper {
	width: 100%;
	/* always top */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: white;
}

/* nav always top */

.nav-list {
	padding: 10px;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
	/* remove ul style */
	list-style: none;
}

.nav-list li {
	cursor: pointer;
}

.nav-logo {
	object-fit: contain;
}

.nav-mobile-style {
	display: none;
}

/* nav menu */
.nav-menu {
	display: none;
}

.nav-menu > .nav-menu-line {
	width: 20px;
	height: 3px;
	background-color: black;
	margin: 5px 0;
}

.nav-list-mobile {
	list-style: none;
	position: absolute;
	width: 100%;
	padding: 20px;
	top: 60px;
	left: 0;
	background-color: white;
}

.nav-list-mobile > li {
	cursor: pointer;
	font-size: 1.1rem;
	padding: 10px 0;
}

/* media queries */
@media screen and (max-width: 1024px) {
	.nav-list {
		display: none;
	}
	.nav-menu {
		display: block;
	}
	.nav-mobile-style {
		display: grid;
		height: 60px;
		place-items: center;
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
		padding: 10px 0;
	}

	.logo-desktop {
		width: 100%;
		padding-left: 20px;
	}

	.nav-logo {
		width: 100px;
	}

	.nav-menu {
		width: 100%;
		display: grid;
		place-items: end;
	}

	.nav-react-icon {
		font-size: 1.5rem;
		padding-right: 20px;
	}
}
